 
        H1 {
            background-color: burlywood;
            color:purple;
            padding: 20px;
            padding-left: 41%;

        }
        button {
            background-color: rgb(230, 176, 225);
            color: rgb(197, 0, 66);
            padding: 10px;
            font-style:italic;
            margin-left:70px;
            margin-right: 30px;
        }
        button:hover {
            background-color: aquamarine;

        }
        img {
            margin-left: 40%;
        }
        ul {
            margin-left: 20%;
            list-style-type: none;
            padding: 0%;
        }
        li {
            display: inline-block;
            margin-right: 10px;
            
        }
        
        body {
            background-color: rgb(228, 250, 215);
            /*background-image: url(../IMG-20220612-WA0013.jpg);
            background-repeat: no-repeat;
            background-position:center;*/
            
        }